PUID=1000
GUID=1000
CORAZA_PORT=19093
NGINX_PORT=18083

NGX_CORAZA_UPSTREAM=server coraza:9090;
NGX_BACKEND_RESPONSE_TIMEOUT=120s
NGX_CORAZA_ADMIN_URL=/tukuyomi-admin/
NGX_CORAZA_API_BASEPATH=/tukuyomi-api/

WAF_APP_URL=http://api:8080
WAF_LOG_FILE=
WAF_BYPASS_FILE=conf/waf.bypass
WAF_BOT_DEFENSE_FILE=conf/bot-defense.conf
WAF_SEMANTIC_FILE=conf/semantic.conf
WAF_COUNTRY_BLOCK_FILE=conf/country-block.conf
WAF_RATE_LIMIT_FILE=conf/rate-limit.conf
WAF_RULES_FILE=rules/tukuyomi.conf
WAF_CRS_ENABLE=true
WAF_CRS_SETUP_FILE=rules/crs/crs-setup.conf
WAF_CRS_RULES_DIR=rules/crs/rules
WAF_CRS_DISABLED_FILE=conf/crs-disabled.conf
WAF_STORAGE_BACKEND=file
WAF_DB_DRIVER=sqlite
WAF_DB_ENABLED=false
WAF_DB_DSN=
WAF_DB_PATH=logs/coraza/tukuyomi.db
WAF_DB_RETENTION_DAYS=30
WAF_STRICT_OVERRIDE=false
WAF_API_BASEPATH=/tukuyomi-api
WAF_TRUSTED_PROXY_CIDRS=
WAF_COUNTRY_HEADER_NAMES=X-Country-Code,CF-IPCountry
WAF_FORWARD_INTERNAL_RESPONSE_HEADERS=
WAF_API_KEY_PRIMARY=dev-only-change-this-key-please
WAF_API_KEY_SECONDARY=
WAF_API_AUTH_DISABLE=
WAF_API_CORS_ALLOWED_ORIGINS=
WAF_ALLOW_INSECURE_DEFAULTS=
VITE_CORAZA_API_BASE=/tukuyomi-api
VITE_APP_BASE_PATH=/tukuyomi-admin
VITE_API_KEY=dev-only-change-this-key-please
